<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles/base.css">
</head>
<body>
    <leftSide style="width:10px;">
        <h1 class="main">SomeName</h1>
        <a href="/" class="main">Main</a>
        <a href="/search" class="main">Search</a>
        <a href="/interesting" class="main">Interesting</a>
        <a href="/direct" class="main">Messages</a>
        <a href="/notifications" class="main">Notifications {% if notificationsNum != 0 %} {{notificationsNum}} {% endif %}</a>
        <a href="/postCreate" class="main">Create</a>
        {% if user.id %}<a href="/user/{{user.id}}" class="main">Profile</a>
        {% else %}<a href="/registration" class="main">Register</a>
        {% endif %}
    </leftSide>
    <rightSide style="width:10px;">
        {% if user.id %}
        <a href="/user/{{user.id}}" class="main">
            <p style="margin: 0px; font-weight: bold">{{user.email}}</p>
            <p style="margin: 0px; color: rgb(127,127,127)">{{user.username}}</p></a>
        {% else %}<a href="/login" class="main">Login</a>{% endif %}

        <a href="/users" class="main">People</a>
    </rightSide>
    {% block content%}
    {% endblock %}
    <script src="/static/js/base.js"></script>
</body>
</html>