{% extends "base.html" %}
{% block content %}

{% if user %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% csrf_token %}
{% endif %}

<centerSide>
    <link rel="preload" as="image" href="/static/like.png">
    <link rel="preload" as="image" href="/static/liked.png">

    <post id="post">
        <a href="/user/{{p.user.id}}" class="user">{{p.user.username}}</a>
        <time>{{p.createdAt}}</time><br>
        {% if p.image != '' %}<img src="{{p.image.name}}" width="100%" class="image">{% endif %}
        <info>{{p.name}}</info>
        <info>{{p.description}}</info>
        <br>
        <img src="/static/like{% if p.liked %}d{% endif %}.png" class="like" id="{{p.id}}">
        <p style="display: inline-block; margin: 0px" id="{{p.id}}s">{{p.likes.count}}</p>
        <a href="/postDelete/{{p.id}}" class="special">Delete</a>

        {% if user %}
            <script>
                var like = document.getElementById('{{p.id}}');

                like.onclick = function(){
                    var like = document.getElementById('{{p.id}}');
                    var likesEl = document.getElementById('{{p.id}}s');
                    var likes = {{p.likes.count}} {% if p.liked %} -1; {% endif %};

                    if (likesEl.innerHTML == likes) {
                        like.src = '/static/liked.png';
                        likesEl.innerHTML = likes + 1;
                    } else {
                        like.src = '/static/like.png';
                        likesEl.innerHTML = likes;
                    }

                    var button = $(this)
                    $.ajax(button.data('url'), {
                        'type': 'POST',
                        'async': true,
                        'dataType': 'json',
                        'data': {
                            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                            'post': {{p.id}}
                        },
                        'success': function(data){

                        }
                    })
                };
            </script>
        {% endif %}
    </post>

    {% if p.user.id == user.id %}
        <post id="postEdit" style="position: absolute; visibility: hidden">
            {{ form1 }}
            <input type="file" id="file" name="file">
            <input type="submit" id="btnEdit">
        </post>

        <p class="buttonMove" style="margin: 0px; margin-left: 3vh" id="changer">Change</p>
        <script>
            var post = document.getElementById('post');
            var postEdit = document.getElementById('postEdit');

            document.getElementById('changer').onclick = function(){
                if (post.style.visibility === "hidden") {
                    postEdit.style = "visibility: hidden;";
                    post.style = "visibility: visible;";
                    postEdit.replaceWith(post);
            } else {
                    post.style = "visibility: hidden;";
                    postEdit.style = "visibility: visible;";
                    post.replaceWith(postEdit);
                }
            };
        </script>

    {% endif %}
    <divider>Comments</divider>

    {% if user %}
        {{ form }}
        <input type="submit" id="btnCom">
        <info id="comAnswer"></info>
    {% endif %}

    <post style="background-color: white" id="comments">
        {% for c in comments %}
            <message
                    {% if c.user.id == user.id %} style="background: rgb(0,255,255);" {% endif %}>
                <a href="/user/{{c.user.id}}" class="user">{{c.user.username}}</a>
                <time>{{c.createdAt}}</time><br>
                {{c.text}}
            </message>
        {% endfor %}
    </post>

    {% if user %} <script src="/static/js/post.js"></script> {% endif %}

</centerSide>

{% endblock %}