{% extends "base.html" %}
{% block content %}

<centerSide>
    <post>
        <form method="Post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" id="btn">
        </form>
    </post>

    <divider>Posts</divider>

    {% for p in posts %}
        <post>
            <a href="/user/{{p.user.id}}" class="user">{{p.user.username}}</a><br>
            <a href="/post/{{p.id}}" style="font-size: 24px; block-size: 40%">
                {% if p.image != '' %}<img src="{{p.image.name}}" width="100%" class="image">{% endif %}
                {{p.name}}<br>
                <short>{{p.description}}</short>
            </a><br>
            <img src="/static/like{% if p.liked %}d{% endif %}.png" class="like" id="{{p.id}}">
            <p style="margin: 0px" id="{{p.id}}s">{{p.likes.count}}</p>
        </post>
    {% endfor %}

</centerSide>

{% endblock %}