{% extends "base.html" %}
{% block content %}

{% if user.id %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% csrf_token %}
    <script src="/static/js/user.js"></script>
{% endif %}

<centerSide>

    <post id="user">
        <info style="font-size: 6vh; font-weight: bold">{{person.username}}<time>{{person.createdAt}}</time></info>
        <img src="{{user.image}}" width="50%" class="image">
        {% if person.username == user.username %}
            <info>{{user.email}}</info>
            </post>
            <a class="buttonMove" id="subscribers" style="margin-left: 3vh">Subscribers {{person.subscribes.count}}</a>


            <post id="userEdit" style="position: absolute; visibility: hidden">
                {{ form }}
                <input type="file" id="file" name="file">
                <input type="submit" id="btnEdit">
            </post>

            <p class="buttonMove" style="margin: 0px; margin-left: 3vh" id="changer">Change</p>
            <a href="/logout" class="special" style="margin-left: 2vh">Logout</a>

            <script>
                var post = document.getElementById('user');
                var postEdit = document.getElementById('userEdit');

                document.getElementById('changer').onclick = function(){
                    if (post.style.visibility === "hidden") {
                        postEdit.style = "visibility: hidden;";
                        post.style = "visibility: visible;";
                        postEdit.replaceWith(post);
                    } else {
                        post.style = "visibility: hidden;";
                        postEdit.style = "visibility: visible;";
                        post.replaceWith(postEdit);
                    }
                };
            </script>

        {% else %}
            </post>
            <a class="buttonMove" id="subscribers" style="margin-left: 3vh">Subscribers {{person.subscribes.count}}</a>
            <a href="/chatNew/{{person.id}}" class="buttonCreate" style="margin-left: 3vh">Send a message</a>
            <p id="subscribe" class="buttonSubscribe">Subscribe{% if subscribed %}d{% endif %}</p>
        {% endif %}

    <divider>Posts</divider>

    <link rel="preload" as="image" href="/static/like.png">
    <link rel="preload" as="image" href="/static/liked.png">
    {% for p in posts %}
        <post>
            <a href="/user/{{p.user.id}}" class="user">{{p.user.username}}</a>
            <time>{{p.createdAt}}</time><br>
            {% if p.image != '' %}<img src="{{p.image.name}}" width="100%" class="image">{% endif %}
            <a href="/post/{{p.id}}" style="font-size: 24px; block-size: 40%">
                {{p.name}}<br>
                <short>{{p.description}}</short>
            </a><br>
            <img src="/static/like{% if p.liked %}d{% endif %}.png" class="like" id="{{p.id}}">
            <p style="margin: 0px" id="{{p.id}}s">{{p.likes.count}}</p>

            {% if user.id %}
                <script>
                    var like = document.getElementById('{{p.id}}');

                    like.onclick = function(){
                        var like = document.getElementById('{{p.id}}');
                        var likesEl = document.getElementById('{{p.id}}s');
                        var likes = {{p.likes.count}} {% if p.liked %} -1; {% endif %};

                        if (likesEl.innerHTML == likes) {
                            like.src = '/static/liked.png';
                            likesEl.innerHTML = likes + 1;
                        } else {
                            like.src = '/static/like.png';
                            likesEl.innerHTML = likes;
                        }

                        var button = $(this)
                        $.ajax(button.data('url'), {
                            'type': 'POST',
                            'async': true,
                            'dataType': 'json',
                            'data': {
                                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                                'post': {{p.id}}
                            },
                            'success': function(data){

                            }
                        })
                    };
                </script>
            {% endif %}
        </post>
    {% endfor %}

</centerSide>

{% endblock %}