body {
    background: #ffffff;
}

a {
    text-decoration: none;
    color: black;
}

input {
    display: block;
    padding: 0.2vh;
    margin: 0.2vh;
    border-radius: 512px;
    font-size: 4vh;
}

::-webkit-scrollbar {
    border-radius: 512px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 512px;
    background: #ddd;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.main {
    position: relative;
    weight: 16%;
    font-size: 4vh;
    display: inline-block;
    padding: 3.2vh;
    border-radius: 512px;
    margin: 0.5vh;
}

.main:hover {
    background: rgb(230, 230, 230);
}

leftSide {
    position: absolute;
    left: 0%;
}

centerSide {
    position: absolute;
    left: 30%;
    top: 0px;
    width: 40%;
}

rightSide {
    position: absolute;
    left: 75%;
}

post {
    display: block;
    font-size: 4vh;
    block-size: 40%;
    padding: 3vh;
    margin: 3vh;
    background-color: rgb(230,230,230);
    border-radius: 4vh;
}

.post {
    font-size: 4vh;
    block-size: 40%;
    padding: 3vh;
    margin: 3vh;
    background-color: rgb(230,230,230);
    border-radius: 4vh;
}

divider {
    display: block;
    block-size: 40%;
    padding: 3vh;
    margin: 3vh;
    background-color: rgb(204,204,255);
    border-radius: 4vh;
}

info {
    font-size: 4vh;
    display: block;
    margin-top: 1.5vh;
    word-wrap: break-word;
}

message {
    font-size: 4vh;
    word-wrap: break-word;
    display: block;
    position: relative;
    background-color: rgb(230,230,230);
    padding: 2.25vh;
    margin: 3vh;
    border-radius: 4vh;
    //max-width: 40% - 72px;
}

error {
    display: inline-block;
    padding: 3vh;
    margin: 3vh;
    background-color: rgb(255,230,230);
    border-radius: 4vh;
    color: rgb(255,0,0);
    visibility: hidden;
}

divider {
    font-size: 6vh;
}

block {
    position: relative;
}

short {
    margin: 0px;
    padding: 0px;
}

.like {
    width: 6%;
    padding: 1vh;
    border-radius: 20%;
    float: left;
}

.like:hover {
    background-color: rgb(204,204,204);
}

.buttonCreate {
    display: inline-block;
    font-size: 4vh;
    padding: 3vh;
    border-radius: 4vh;
    background-color: rgb(204,255,204);
}

.buttonCreate:hover {
    background-color: rgb(230,255,230);
}

.buttonMove {
    display: inline-block;
    padding: 3vh;
    font-size: 4vh;
    border-radius: 4vh;
    background-color: rgb(255,255,204);
}

.buttonMove:hover {
    background-color: rgb(255,255,230);
}

.user {
    font-size: 2.6vh;
    margin-top: 0px;
    padding-top: 0px;
    float: left;
    display: block;
    color: rgb(127,127,127);
}

